<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.singara_chhabra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bp"
        android:label="Singara_Chhabra"
        android:roundIcon="@mipmap/bp"
        android:supportsRtl="true"
        android:configChanges="keyboardHidden|orientation"
        android:screenOrientation="nosensor"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>